.emptyRow {
	height: 10px;
}

.inner {
	width: 90%;
	padding: 0 5%;
}

header {
	padding-left: 200px;
	padding-right: 200px;
}

.error {
	color: red;
}

footer > a {
	float: left;
	margin-right: 20px;
}

.remote code {
	font-size: 0.8em;
}